:root {
	/*colours*/
	--main-bg-color: #222222;
	--light: #a3aab9;
	--dark: #222222;
	/*sizes*/
	--letterboxing-height: 8vh;
}
  

body{
	background-color: var(--light);
	border: 10px solid var(--dark);
}

img{
	transition: all .1s ease-in-out;
}


.container-fluid{
	padding:0;
}

h2{
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
}

h4{
	text-align: center;
}

p{
	text-align: center;
}

.section{
	padding-top:10vh;
	padding-bottom:10vh;
}

.row{
	margin:0;
}



/*==========================================TITLE NAV*/
h1{
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: 100;
	text-align:center;
	font-size:4rem;
	color:var(--dark);
	margin:30px 0;
	margin-bottom:0;
}
#title-nav-icon-row div{
	padding:0;
}
.title-nav{
	margin:auto;
}
.link-icon{
	width:50%;
	display:block;
	margin:auto;
	margin-top:20px;
}
.link-label{
	font-family: 'Open Sans', sans-serif;
	margin-top:5px;
	text-align: center;
	color:var(--dark);
	transition: .1s ease;
	text-decoration: none !important;
}
#title-nav-icon-row div a:hover p{
	font-weight: 700;
}

#title-nav-icon-row div a:hover{
	text-decoration: none;
}

.overlay{
	height:90vh;
	margin:0;
	padding:0;
	background-image: url("img/overlay.svg");
	background-position: center center;
  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	padding-top:10vh;  
}


/*==========================================PORTFOLIO*/
#portfolio-section{
	background-color: #c7cbd4;
}

#portfolio{
	padding:20px;
}

#portfolio div{
	background: none;
	border:none;
	padding:0;
	margin:0;
}

#portfolio div .card{
	padding:0px;
	border-radius: 0;
	text-align: center;
	margin:5px;
	margin-bottom:15px;
    box-shadow: inset 0px 0px 0px 1px #dddddd;
	box-sizing: border-box;
	background-color: #b9bdc7;
}

#portfolio div .card img{
	width:100%;
}

.card-label p{
	text-align: left;
	margin:10px;
}

/*==========================================CONTACT*/
.contact-icon{
	height:80px;
	margin-bottom: 20px;
	margin-top:20px;
}

#contact-section .row{
	text-align: center;
}


/*==========================================FOOTER*/
.overlay.footer-overlay{
	padding:0;
	height:100%;
}

#footer-section h5{
	text-align: center;
	color:#777777
}

/*==========================================RETURN TO TOP BUTTON*/
#returnToTop {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: var(--light);
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	font-size: 18px; /* Increase font size */
	opacity: 0.8;
	border:solid 1px white;
  }
  
  #returnToTop:hover {
	background-color: #555; /* Add a dark-grey background on hover */
  }


/*==========================================HOVER ELEMENTS*/
#letterboxing-top, #letterboxing-bottom{
	background-color: black;
	width: 100vw;
	position:fixed;
	left:0;
	height:0;
	transition: .5s ease;
}
#letterboxing-top{
	top:0;
}
#letterboxing-bottom{
	bottom:0;
}


/*==========================================MEDIA QUERIES*/

/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap

   Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)(*/
@media (min-width: 768px) {
	h1{
		font-size:4rem;
	}
	.title-nav{
		width:768px;
	}
	.title-nav{
		margin:auto;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.overlay{
		padding-top:25vh;  
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
