:root {
	/*colours*/
	--main-bg-color: #ffffff;
	/*sizes*/
	--letterboxing-height: 8vh;
}
  

body{
	background-color: var(--main-bg-color);
	transition: .2s ease;
}



/*==========================================TITLE NAV*/
h1{
	text-align:center;
	font-size:20vw;
	color:white;
	margin:30px 0;
	-webkit-text-stroke-width:3px;
    -webkit-text-stroke-color:black;
}
#title-nav-icon-row div{
	padding:0;
}
.title-nav{
	margin:auto;
	margin-top:2vh;
}
.link-icon{
	width:50%;
	display:block;
	margin:auto;
	margin-top:20px;
}
.link-label{
	margin-top:5px;
	text-align: center;
	color:black;
	transition: .2s ease;
	text-decoration: none !important;
}
#title-nav-icon-row div a:hover p{
	font-weight: 700;
}

/*==========================================HOVER ELEMENTS*/
#letterboxing-top, #letterboxing-bottom{
	background-color: black;
	width: 100vw;
	position:fixed;
	left:0;
	height:0;
	transition: .5s ease;
}
#letterboxing-top{
	top:0;
}
#letterboxing-bottom{
	bottom:0;
}

/*==========================================CONTACT MODAL*/
.modal-title{
	color:red;
	float:left;
}


/*==========================================MEDIA QUERIES*/

/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap

   Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)(*/
@media (min-width: 768px) {
	h1{
		font-size:6rem;
	}
	.title-nav{
		width:768px;
	}
	.title-nav{
		margin:auto;
		margin-top:15vh;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
